<a href="https://colab.research.google.com/github/bankmanx9x/python/blob/master/01%20sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install pymysql

In [ ]:
# TODO: ใส่ database credential จากลิงค์ database ด้านบน (เพื่อการเรียนรู้)
import os

class Config:
  MYSQL_HOST = '34.136.184.58'
  MYSQL_PORT = 3306              # default สำหรับ port MySQL
  MYSQL_USER = 'r2de2'
  MYSQL_PASSWORD = 'I_Love_Data_Engineer'
  MYSQL_DB = 'r2de2'
  MYSQL_CHARSET = 'utf8mb4'

In [ ]:
import pymysql

# Connect to the database
connection = pymysql.connect(host=Config.MYSQL_HOST,
                             port=Config.MYSQL_PORT,
                             user=Config.MYSQL_USER,
                             password=Config.MYSQL_PASSWORD,
                             db=Config.MYSQL_DB,
                             charset=Config.MYSQL_CHARSET,
                             cursorclass=pymysql.cursors.DictCursor)

In [ ]:
connection

In [ ]:
# list all tables ด้วย SQL คำสั่ง show tables;
cursor = connection.cursor()
cursor.execute("show tables;")
tables = cursor.fetchall()
cursor.close()
print(tables)

[{'Tables_in_r2de2': 'audible_data'}, {'Tables_in_r2de2': 'audible_transaction'}]

In [ ]:
# ใข้ with statement แทน cursor.close()
# TODO: มาลองเขียน SQL Query ข้อมูลจาก table audible_data ดูกัน

with connection.cursor() as cursor:
  cursor.execute("SELECT * FROM audible_data;")
  result = cursor.fetchall()

print("number of rows: ", len(result))

number of rows:  2269

In [ ]:
result

In [ ]:
import pandas as pd

In [ ]:
audible_data = pd.DataFrame(result)

len(audible_data)

2269